<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Aggregrate.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>DCERPC.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Generate IDL Parsers.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>dce.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>dceidl.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>dceidl_parser.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>dcerpcd.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>dcerpdc_stubs.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>echo_client.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>echo_server.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>echo_stubs.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>epstatus.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
		<key>idl.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>mgmt_stubs.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>nck.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>nck_stubs.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>uuid.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D6E6B60310BCB1CE00E1DCF5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DD04350110769FDA0010E492</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DD08161A106C19580007E433</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DD10F4C8106D2364005F1EF3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DD10F5D5106D341E005F1EF3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DD10F5E9106D3528005F1EF3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DD21F0B61083D15500696F06</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DDD80A1F107562E300956CF0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DDD80AB510756A0D00956CF0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DDDF310F106AE5F700E6A9C2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DDDF3256106BD43400E6A9C2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DDE0178E106C2FFD00A5E41A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DDE017DD106C334200A5E41A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DDE7046210710F5100563825</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DDE704E41071196F00563825</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DDFD946E10723BEB008E776F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DDFD949810723EB5008E776F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
